<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/21130791_NGUYENTHINGA_LAB1/src/Exercise02__Wait_Notisy_MechanismDemo/Producer_Consumer_Demo.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Exercise02__Wait_Notisy_MechanismDemo.Producer_Consumer_Demo"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="LAB1"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="21130791_NGUYENTHINGA_LAB1"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
</launchConfiguration>
